app/static/css/base_style.css linguist-vendored
app/static/css/form_style.css linguist-vendored
app/static/js/* linguist-vendored
app/static/vendor/* linguist-vendored
app/templates/form.html linguist-vendored