{% extends "_base.html" %}

{% block title %}GlucoGuard - Result{% endblock title %}

{% block local_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dynamic_background.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock local_css %}

{% block content %}
{% include '_dynamic-background.html' %}
<section class="stats-chart">
  <div class="graph_container">
  {% if graphs %}
    {% for graph_id, graphJSON in graphs %}
    <div class="graph_box">
      <div id='{{ graph_id }}' class='chart box_shadow'></div>
    </div>
    {% endfor %}
  {% else %}
    <div class="graph_box">
      <div class='empty-chart box_shadow'>Chart not availiable</div>
    </div>
  {% endif %}
  </div>
</section>
{% endblock content %}

{% block local_js %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% if graphs %}
  <script type='text/javascript'>
    {% for graph_id, graphJSON in graphs %}
      var {{ graph_id }} = {{ graphJSON | safe }};
      Plotly.plot('{{ graph_id }}', {{ graph_id }}, {});
    {% endfor %}
  </script>
{% endif %}
{% endblock local_js %}